### Provera sadržaja svih dataset-ova i odabir odgovarajućih atributa, kao i instanci koje sadrže određenu aviokompaniju, koje će se koristiti prilikom analize

### Prvi skup podataka (*airline.csv*) sadrži recenzije koje opisuju sveukupno iskustvo putnika sa određenim avio-kompanijama. Dataset obuhvata osnovne informacije o recenzijama (autor, datum, ruta, tip putnika i klasa leta), kao i numeričke ocene različitih aspekata usluge, uključujući udobnost sedišta i kabine, interakciju sa kabinskim osobljem i uslugu nakon sletanja, kvalitet hrane i pića, Wi-Fi konekciju, kao i odnos cene i kvaliteta. Pored toga, sadrži i binarnu oznaku preporuke (recommended), koja ukazuje na to da li putnik preporučuje datu avio-kompaniju.

In [1]:
import pandas as pd

airline_df = pd.read_csv("airline.csv")

In [2]:
airline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41396 entries, 0 to 41395
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   airline_name                   41396 non-null  object
 1   link                           41396 non-null  object
 2   title                          41396 non-null  object
 3   author                         41396 non-null  object
 4   author_country                 39805 non-null  object
 5   date                           41396 non-null  object
 6   content                        41396 non-null  object
 7   aircraft                       1278 non-null   object
 8   type_traveller                 2378 non-null   object
 9   cabin_flown                    38520 non-null  object
 10  route                          2341 non-null   object
 11  overall_rating                 36861 non-null  float64
 12  seat_comfort_rating            33706 non-null  float64
 13  cabin_staff_rating             33708 non-null  float64
 14  food_beverages_rating          33264 non-null  float64
 15  inflight_entertainment_rating  31114 non-null  float64
 16  ground_service_rating          2203 non-null   float64
 17  wifi_connectivity_rating       565 non-null    float64
 18  value_money_rating             39723 non-null  float64
 19  recommended                    41396 non-null  int64
dtypes: float64(8), int64(1), object(11)
memory usage: 6.3+ MB

In [3]:
airline_df.head()

,airline_name,link,title,author,author_country,date,content,aircraft,type_traveller,cabin_flown,route,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,wifi_connectivity_rating,value_money_rating,recommended
0,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,D Ito,Germany,2015-04-10,Outbound flight FRA/PRN A319. 2 hours 10 min f...,NaN,NaN,Economy,NaN,7.0,4.0,4.0,4.0,0.0,NaN,NaN,4.0,1
1,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,Ron Kuhlmann,United States,2015-01-05,Two short hops ZRH-LJU and LJU-VIE. Very fast ...,NaN,NaN,Business Class,NaN,10.0,4.0,5.0,4.0,1.0,NaN,NaN,5.0,1
2,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,E Albin,Switzerland,2014-09-14,Flew Zurich-Ljubljana on JP365 newish CRJ900. ...,NaN,NaN,Economy,NaN,9.0,5.0,5.0,4.0,0.0,NaN,NaN,5.0,1
3,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,Tercon Bojan,Singapore,2014-09-06,Adria serves this 100 min flight from Ljubljan...,NaN,NaN,Business Class,NaN,8.0,4.0,4.0,3.0,1.0,NaN,NaN,4.0,1
4,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,L James,Poland,2014-06-16,WAW-SKJ Economy. No free snacks or drinks on t...,NaN,NaN,Economy,NaN,4.0,4.0,2.0,1.0,2.0,NaN,NaN,2.0,0

In [4]:
duplicates = airline_df.duplicated()
print(duplicates.sum())

0

### Drugi skup podataka (*airport.csv*) sadrži recenzije koje se odnose na kvalitet usluga i karakteristika samog aerodroma. Dataset obuhvata osnovne informacije o recenzijama (autor, datum posete i tip putnika), kao i numeričke ocene različitih aspekata aerodromskog iskustva, uključujući ukupno zadovoljstvo, vreme čekanja u redovima, čistoću i opremljenost prostora, dostupnost sedišta, ponudu hrane i generalno kupovine, kvalitet Wi-Fi konekcije i ljubaznost osoblja. Takođe, sadrži binarnu oznaku preporuke (recommended), koja označava da li putnik preporučuje dati aerodrom.

In [5]:
airport_df = pd.read_csv("airport.csv")

In [6]:
airport_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17721 entries, 0 to 17720
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   airport_name                 17721 non-null  object
 1   link                         17721 non-null  object
 2   title                        17721 non-null  object
 3   author                       17721 non-null  object
 4   author_country               12777 non-null  object
 5   date                         17721 non-null  object
 6   content                      17721 non-null  object
 7   experience_airport           647 non-null    object
 8   date_visit                   593 non-null    object
 9   type_traveller               646 non-null    object
 10  overall_rating               13796 non-null  float64
 11  queuing_rating               12813 non-null  float64
 12  terminal_cleanliness_rating  12815 non-null  float64
 13  terminal_seating_rating      587 non-null    float64
 14  terminal_signs_rating        27 non-null     float64
 15  food_beverages_rating        630 non-null    float64
 16  airport_shopping_rating      12676 non-null  float64
 17  wifi_connectivity_rating     412 non-null    float64
 18  airport_staff_rating         26 non-null     float64
 19  recommended                  17721 non-null  int64
dtypes: float64(9), int64(1), object(10)
memory usage: 2.7+ MB

In [7]:
airport_df.head()

,airport_name,link,title,author,author_country,date,content,experience_airport,date_visit,type_traveller,overall_rating,queuing_rating,terminal_cleanliness_rating,terminal_seating_rating,terminal_signs_rating,food_beverages_rating,airport_shopping_rating,wifi_connectivity_rating,airport_staff_rating,recommended
0,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,Klaus Malling,Denmark,2014-02-11,A small very effective airport with few flight...,NaN,NaN,NaN,9.0,5.0,5.0,NaN,NaN,NaN,4.0,NaN,NaN,1
1,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,S Kroes,Netherlands,2013-02-13,This is a nice and modern airport at the momen...,NaN,NaN,NaN,9.0,5.0,4.0,NaN,NaN,NaN,4.0,NaN,NaN,1
2,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,M Andersen,Denmark,2012-08-07,A very nice airy terminal - that seems modern ...,NaN,NaN,NaN,9.0,5.0,5.0,NaN,NaN,NaN,4.0,NaN,NaN,1
3,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,Paul Van Alsten,France,2011-05-22,AMS-AAL and quite satisfied with this regional...,NaN,NaN,NaN,5.0,5.0,5.0,NaN,NaN,NaN,3.0,NaN,NaN,0
4,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,K Fischer,NaN,2010-08-04,Very quick check-inn and security screening. N...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [8]:
duplicates = airport_df.duplicated()
print(duplicates.sum())

0

### Treći skup podataka (*lounge.csv*) sadrži recenzije koje se odnose na posebne salone aerodroma dostupne putnicima i ocene njihovog kvaliteta. Dataset uključuje osnovne informacije o recenzijama (autor, datum, tip putnika, avio-kompanija i aerodrom), kao i numeričke ocene različitih aspekata lounge-a, uključujući udobnost, čistoću, ponudu pića i hrane, kvalitet toaleta, Wi-Fi konekcije i usluge osoblja. Pored toga, sadrži i binarni atribut recommended, koji označava da li putnik preporučuje dati lounge.

In [9]:
lounge_df = pd.read_csv("lounge.csv")

In [10]:
lounge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2264 entries, 0 to 2263
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   airline_name              2264 non-null   object
 1   link                      2264 non-null   object
 2   title                     2264 non-null   object
 3   author                    2264 non-null   object
 4   author_country            1783 non-null   object
 5   date                      2264 non-null   object
 6   content                   2264 non-null   object
 7   lounge_name               2261 non-null   object
 8   airport                   2170 non-null   object
 9   lounge_type               1964 non-null   object
 10  date_visit                99 non-null     object
 11  type_traveller            119 non-null    object
 12  overall_rating            2259 non-null   float64
 13  comfort_rating            2264 non-null   int64
 14  cleanliness_rating        2264 non-null   int64
 15  bar_beverages_rating      2259 non-null   float64
 16  catering_rating           2261 non-null   float64
 17  washrooms_rating          2238 non-null   float64
 18  wifi_connectivity_rating  2253 non-null   float64
 19  staff_service_rating      2255 non-null   float64
 20  recommended               2264 non-null   int64
dtypes: float64(6), int64(3), object(12)
memory usage: 371.6+ KB

In [11]:
lounge_df.head()

,airline_name,link,title,author,author_country,date,content,lounge_name,airport,lounge_type,...,type_traveller,overall_rating,comfort_rating,cleanliness_rating,bar_beverages_rating,catering_rating,washrooms_rating,wifi_connectivity_rating,staff_service_rating,recommended
0,adria-airways,/lounge-reviews/adria-airways,Adria Airways Business Class Lounge,R Deu,Spain,2014-03-09,There are 2 separate areas with arm chairs and...,ADRIA AIRWAYS BUSINESS CLASS LOUNGE REVIEW,NaN,Business Class,...,NaN,3.0,3,4,3.0,3.0,3.0,2.0,2.0,1
1,aegean-airlines,/lounge-reviews/aegean-airlines,Business Class - Larnaca Airport,Andreas Kar,Germany,2015-06-13,"It is a small, dark, windowless lounge located...",Business Class,Larnaca Airport,Business Class,...,Solo Leisure,5.0,4,4,3.0,3.0,3.0,4.0,4.0,1
2,aegean-airlines,/lounge-reviews/aegean-airlines,Aegean Airlines Business Class Lounge - Athens...,A Diakomichalis,Greece,2014-10-05,Both of the lounges have the same food (sandwi...,AEGEAN AIRLINES BUSINESS CLASS LOUNGE REVIEW,Athens Airport,Business Class,...,NaN,5.0,5,5,5.0,4.0,4.0,5.0,5.0,1
3,aegean-airlines,/lounge-reviews/aegean-airlines,Aegean Airlines Business Class Lounge - Athens...,R Deu,Spain,2014-03-11,The lounge was clean and the decor is up to da...,AEGEAN AIRLINES BUSINESS CLASS LOUNGE REVIEW,Athens Airport,Business Class,...,NaN,2.0,3,3,2.0,1.0,2.0,3.0,2.0,0
4,aegean-airlines,/lounge-reviews/aegean-airlines,Aegean Airlines Business Class Lounge - Thessa...,Petros Papadopoulos,United Kingdom,2012-07-24,Big and spacious lounge. Comfy sofas and a nic...,AEGEAN AIRLINES BUSINESS CLASS LOUNGE REVIEW,Thessaloniki Airport,Business Class,...,NaN,5.0,5,5,4.0,4.0,4.0,5.0,5.0,1

In [12]:
duplicates = lounge_df.duplicated()
print(duplicates.sum())

0

### Četvrti skup podataka (*seat.csv*) fokusira se na recenzije koje se odnose na kvalitet i udobnost sedišta u avionima. Dataset obuhvata osnovne informacije o recenzijama (autor, datum, tip putnika, avio-kompanija, avion i kabina), kao i numeričke ocene različitih aspekata sedišta, uključujući prostor za noge, nagib i širinu sedišta, prostor prolaza, kvalitet ekrana, dostupnost utičnica i prostor za odlaganje stvari. Pored toga, sadrži i binarni atribut recommended, koji pokazuje da li putnik preporučuje datu konfiguraciju sedišta ili avio-kompaniju.

In [13]:
seat_df = pd.read_csv("seat.csv")

In [14]:
seat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   airline_name         1258 non-null   object
 1   link                 1258 non-null   object
 2   title                1258 non-null   object
 3   author               1258 non-null   object
 4   author_country       1250 non-null   object
 5   date                 1258 non-null   object
 6   content              1258 non-null   object
 7   aircraft             1258 non-null   object
 8   seat_layout          1252 non-null   object
 9   date_flown           113 non-null    object
 10  cabin_flown          1252 non-null   object
 11  type_traveller       118 non-null    object
 12  overall_rating       1257 non-null   float64
 13  seat_legroom_rating  1258 non-null   int64
 14  seat_recline_rating  1258 non-null   int64
 15  seat_width_rating    1258 non-null   int64
 16  aisle_space_rating   1258 non-null   int64
 17  viewing_tv_rating    1229 non-null   float64
 18  power_supply_rating  62 non-null     float64
 19  seat_storage_rating  113 non-null    float64
 20  recommended          1258 non-null   int64
dtypes: float64(4), int64(5), object(12)
memory usage: 206.5+ KB

In [15]:
seat_df.head()

,airline_name,link,title,author,author_country,date,content,aircraft,seat_layout,date_flown,...,type_traveller,overall_rating,seat_legroom_rating,seat_recline_rating,seat_width_rating,aisle_space_rating,viewing_tv_rating,power_supply_rating,seat_storage_rating,recommended
0,aegean-airlines,/seat-reviews/aegean-airlines,Aegean Airlines customer review,Jay Simpson,United Kingdom,2015-07-20,LHR to Larnaca return. Plane was clean and in ...,A320-200,3x3,19-07-2015,...,Solo Leisure,10.0,4,4,4,5,4.0,NaN,4.0,1
1,aegean-airlines,/seat-reviews/aegean-airlines,Aegean Airlines customer review,Paul Staples,United Kingdom,2013-01-21,For a short haul airline the seats are very go...,AIRBUS A320,3x3,NaN,...,NaN,9.0,4,4,4,4,4.0,NaN,NaN,1
2,aer-lingus,/seat-reviews/aer-lingus,Aer Lingus customer review,L Pulliam,United States,2015-07-07,The seats are a bit tight but bearable. If you...,A330,2x4x2,06-07-2015,...,Couple Leisure,6.0,3,3,3,3,3.0,3.0,3.0,1
3,aer-lingus,/seat-reviews/aer-lingus,Aer Lingus customer review,D Brose,United States,2010-10-22,Appeared new. Good PTV entertainment. Seats ha...,Airbus A330,2x4x2,NaN,...,NaN,5.0,2,3,3,3,4.0,NaN,NaN,0
4,aeroflot-russian-airlines,/seat-reviews/aeroflot-russian-airlines,Aeroflot Russian Airlines customer review,Konstantinos Grimpilakos,Greece,2015-08-02,Boeing 737-800 seats from Athens to Moscow are...,Boeing 737-800,3x3,01-07-2015,...,Business,1.0,1,1,1,2,1.0,5.0,1.0,1

In [16]:
duplicates = seat_df.duplicated()
print(duplicates.sum())

0

### Provera da li su manji dataset-ovi sadržani u velikom, tj da li je najveći skup podataka zbir manjih

In [17]:
reviews = airline_df[['airline_name', 'content']].copy()
lounges = lounge_df[['airline_name', 'content']].copy()
seats = seat_df[['airline_name', 'content']].copy()

#normalizacija i čišćenje teksta
def normalize(text):
    if pd.isna(text):
        return ""
    return (
        text.lower()
        .strip()
        .replace('\n', ' ')
        .replace('\r', ' ')
    )

#kreiranje nove kolone u svakom dataset-u sa očišćenim recenzijama
for df in [reviews, lounges, seats]:
    df['content_norm'] = df['content'].apply(normalize)

#dodavanje kolone koja će označavati koji je dataset u pitanju
reviews['source'] = 'reviews'
lounges['source'] = 'lounges'
seats['source'] = 'seats'

#spajanje svih tih podataka u jedan dataframe(kolone airline_name, content, content_norm i source)
all_content = pd.concat([reviews, lounges, seats], ignore_index=True)

#print(all_content)

#duplikati se tra\e po aviokompaniji i normalizovanom tekstu koji se odnosi na recenzije
duplicates = all_content[
    all_content.duplicated(
        subset=['airline_name', 'content_norm'],
        keep=False
    )
]

duplicates.sort_values(['airline_name', 'content_norm'])

#definisanje kako će se prikazati duplikati, koliko puta i iz kojih izvora
dup_stats = (
    duplicates
    .groupby(['airline_name', 'content_norm'])
    .source
    .nunique()
    .reset_index(name='num_sources')
)

dup_stats.sort_values('num_sources', ascending=False).head(10)

print("Ukupno zapisa:", len(all_content))
print("Duplikati:", duplicates[['airline_name', 'content_norm']].drop_duplicates().shape[0])
print("Duplikati iz više izvora:", (dup_stats['num_sources'] > 1).sum())

Ukupno zapisa: 44918
Duplikati: 35
Duplikati iz više izvora: 0

### S obzirom na rezultate može se zaključiti da manji dataset-ovi nisu sadržani u velikom, već predstavljaju drugu vrstu recenzija za specifične aspekte putovanja

### Cilj je identifikovati avio-kompanije koje se pojavljuju u sva tri dataseta (airline, lounge i seat). Pored toga, postoji veza između dataseta lounge i airport, koja se ostvaruje preko atributa airport u okviru lounge dataset-a, što omogućava analizu kvaliteta lounge-a u kontekstu određenih aerodroma.

In [18]:
airlines_reviews = set(airline_df['airline_name'].unique())
airlines_lounges_reviews = set(lounge_df['airline_name'].unique())
airlines_seats_reviews = set(seat_df['airline_name'].unique())

matching_airlines = airlines_reviews & airlines_lounges_reviews & airlines_seats_reviews

print(sorted(matching_airlines))
print("Broj poklapanja aviokompanija u sva tri skupa podataka:", len(matching_airlines))

['aegean-airlines', 'aer-lingus', 'aeroflot-russian-airlines', 'air-berlin', 'air-canada', 'air-china', 'air-france', 'air-india', 'air-mauritius', 'air-new-zealand', 'alaska-airlines', 'alitalia', 'american-airlines', 'ana-all-nippon-airways', 'asiana-airlines', 'austrian-airlines', 'bangkok-airways', 'british-airways', 'brussels-airlines', 'cathay-pacific-airways', 'china-airlines', 'china-eastern-airlines', 'china-southern-airlines', 'continental-airlines', 'copa-airlines', 'delta-air-lines', 'el-al-israel-airlines', 'emirates', 'ethiopian-airlines', 'etihad-airways', 'eva-air', 'finnair', 'flybe', 'garuda-indonesia', 'gulf-air', 'hainan-airlines', 'iberia', 'icelandair', 'japan-airlines', 'jet-airways', 'jet2-com', 'kenya-airways', 'klm-royal-dutch-airlines', 'korean-air', 'lan-airlines', 'lot-polish-airlines', 'lufthansa', 'malaysia-airlines', 'norwegian', 'oman-air', 'philippine-airlines', 'qantas-airways', 'qatar-airways', 'royal-brunei-airlines', 'royal-jordanian-airlines', 'sas-scandinavian-airlines', 'saudi-arabian-airlines', 'singapore-airlines', 'south-african-airways', 'srilankan-airlines', 'swiss-international-air-lines', 'tam-airlines', 'tap-portugal', 'thai-airways', 'transaero-airlines', 'turkish-airlines', 'ukraine-international-airlines', 'united-airlines', 'us-airways', 'vietnam-airlines', 'virgin-america', 'virgin-atlantic-airways']
Broj poklapanja aviokompanija u sva tri skupa podataka: 72

In [19]:
lounge_airports = lounge_df['airport'].dropna().unique()
airport_names = airport_df['airport_name'].dropna().unique()

def normalize_airport(name):
    return name.lower().replace(" ", "-")

lounge_airports_norm = set(normalize_airport(a) for a in lounge_airports)
airport_names_norm = set(normalize_airport(a) for a in airport_names)

matching_airports = lounge_airports_norm & airport_names_norm
print("Broj poklapanja aerodroma u dva skupa podataka:", len(matching_airports))
print(sorted(matching_airports))

Broj poklapanja aerodroma u dva skupa podataka: 190
['aalborg-airport', 'aberdeen-airport', 'abu-dhabi-airport', 'addis-ababa-airport', 'adelaide-airport', 'alicante-airport', 'almaty-airport', 'amman-queen-alia-airport', 'amsterdam-schiphol-airport', 'anchorage-airport', 'antalya-airport', 'antigua-vc-bird-airport', 'athens-airport', 'atlanta-hartsfield-airport', 'auckland-airport', 'austin-airport', 'bahrain-airport', 'bandar-seri-begawan-airport', 'bangalore-airport', 'bangkok-suvarnabhumi-airport', 'barcelona-airport', 'basel-mulhouse-airport', 'beijing-capital-airport', 'beirut-airport', 'berlin-tegel-airport', 'bermuda-airport', 'birmingham-airport', 'bogota-airport', 'bordeaux-airport', 'boston-logan-airport', 'brisbane-airport', 'brussels-zaventem-airport', 'bucharest-otopeni-airport', 'budapest-ferihegy-airport', 'buenos-aires-airport', 'cairo-airport', 'calgary-airport', 'cape-town-airport', 'casablanca-airport', 'cebu-airport', 'charlotte-airport', 'chengdu-airport', 'chennai-airport', 'chiang-mai-airport', 'cincinnati-airport', 'colombo-airport', 'copenhagen-airport', 'cork-airport', 'dalian-airport', 'dallas-fort-worth-airport', 'dammam-port-airport', 'dar-es-salaam-airport', 'darwin-airport', 'delhi-airport', 'denpasar-bali-airport', 'denver-airport', 'detroit-airport', 'doha-airport', 'dubai-airport', 'dublin-airport', 'dusseldorf-airport', 'edinburgh-airport', 'frankfurt-main-airport', 'fukuoka-airport', 'geneva-airport', 'glasgow-prestwick-airport', 'gold-coast-airport', 'gothenburg-city-airport', 'guangzhou-airport', 'guayaquil-airport', 'guernsey-airport', 'hannover-airport', 'hanoi-airport', 'helsinki-vantaa-airport', 'ho-chi-minh-city-airport', 'hobart-airport', 'hong-kong-airport', 'honolulu-airport', 'houston-hobby-airport', 'hyderabad-airport', 'incheon-airport', 'istanbul-ataturk-airport', 'izmir-airport', 'jakarta-airport', 'jeddah-airport', 'jersey-airport', 'kahului-maui-airport', 'karachi-airport', 'kathmandu-airport', 'katowice-airport', 'keflavik-airport', 'khartoum-airport', 'kiev-borispol-airport', 'klia-kuala-lumpur-airport', 'koh-samui-airport', 'kolkata-airport', 'kota-kinabalu-airport', 'krabi-airport', 'kuching-airport', 'lagos-airport', 'larnaca-airport', 'las-vegas-airport', 'lima-airport', 'lisbon-airport', 'london-city-airport', 'london-gatwick-airport', 'london-heathrow-airport', 'los-angeles-lax-airport', 'lusaka-airport', 'luxembourg-airport', 'madrid-barajas-airport', 'male-airport', 'malta-airport', 'manchester-airport', 'mauritius-airport', 'melbourne-airport', 'memphis-airport', 'mexico-city-airport', 'miami-airport', 'milan-linate-airport', 'milan-malpensa-airport', 'minneapolis-st-paul-airport', 'moscow-domodedovo-airport', 'moscow-sheremetyevo-airport', 'mumbai-airport', 'munich-airport', 'muscat-seeb-airport', 'nairobi-airport', 'new-york-jfk-airport', 'newark-airport', 'newcastle-airport', 'orlando-airport', 'oslo-airport', 'ottawa-airport', 'panama-tocumen-airport', 'papeete-airport', 'paris-cdg-airport', 'paris-orly-airport', 'penang-airport', 'perth-airport', 'philadelphia-airport', 'phoenix-airport', 'phuket-airport', 'ponta-delgada-airport', 'portland-airport', 'porto-airport', 'prague-airport', 'pune-airport', 'raratonga-airport', 'riga-airport', 'rio-de-janeiro-airport', 'riyadh-airport', 'rome-ciampino-airport', 'rome-fiumicino-airport', 'salt-lake-city-airport', 'san-diego-airport', 'san-francisco-airport', 'san-juan-airport', 'santiago-de-chile-airport', 'sao-paulo-guarulhos-airport', 'seattle-airport', 'seoul-incheon-airport', 'shanghai-hongqiao-airport', 'shanghai-pudong-airport', 'shenzhen-baoan-airport', 'singapore-changi-airport', 'sofia-airport', 'st-louis-airport', 'stockholm-arlanda-airport', 'stockholm-vasteras-airport', 'sydney-airport', 'tel-aviv-airport', 'thessaloniki-airport', 'tijuana-airport', 'tokyo-haneda-airport', 'tokyo-narita-airport', 'toronto-pearson-airport', 'toulouse-airport', 'turin-airport', 'vancouver-airport', 'venice-marco-polo-airport', 'vienna-airport', 'vilnius-airport', 'warsaw-chopin-airport', 'washington-dulles-airport', 'wellington-airport', 'winnipeg-airport', 'xiamen-airport', 'yangon-airport', 'zurich-airport']

### Za ovaj zadatak koristiće se manji skupovi podataka u kojima se nalaze više recenzija za 20 avio-kompanija. Broj avio-kompanija se može lako proširiti, pri čemu bi pristup i metodologija ostali nepromenjeni.

In [20]:
# Filtriranje po zajedničkim aviokompanijama
flight_counts = airline_df[airline_df['airline_name'].isin(matching_airlines)] \
                    ['airline_name'].value_counts()

lounge_counts = lounge_df[lounge_df['airline_name'].isin(matching_airlines)] \
                    ['airline_name'].value_counts()

seat_counts = seat_df[seat_df['airline_name'].isin(matching_airlines)] \
                    ['airline_name'].value_counts()


total_counts = flight_counts.add(lounge_counts, fill_value=0) \
                            .add(seat_counts, fill_value=0)

# izbor 20 aviokompanija za koje ima najviše recenzija u skupu podataka
top_20_airlines = total_counts.sort_values(ascending=False).head(20)

print(top_20_airlines)

airline_name
british-airways             1229
united-airlines              994
emirates                     906
lufthansa                    766
qantas-airways               760
jet-airways                  736
american-airlines            730
etihad-airways               616
qatar-airways                616
cathay-pacific-airways       605
air-canada                   579
malaysia-airlines            577
virgin-atlantic-airways      575
turkish-airlines             556
singapore-airlines           553
delta-air-lines              531
air-france                   519
us-airways                   465
thai-airways                 454
klm-royal-dutch-airlines     452
Name: count, dtype: int64

In [21]:
#  Flight dataset
existing_top_airlines_flight = [x for x in top_20_airlines.index if x in airline_df['airline_name'].values]
airline_df_top_20 = airline_df[airline_df['airline_name'].isin(existing_top_airlines_flight)].copy()
print("Flight dataset:")
print(airline_df_top_20.info())

#  Lounge dataset 
existing_top_airlines_lounge = [x for x in top_20_airlines.index if x in lounge_df['airline_name'].values]
lounge_df_top_20 = lounge_df[lounge_df['airline_name'].isin(existing_top_airlines_lounge)].copy()
print("\nLounge dataset:")
print(lounge_df_top_20.info())

#  Seat dataset 
existing_top_airlines_seat = [x for x in top_20_airlines.index if x in seat_df['airline_name'].values]
seat_df_top_20 = seat_df[seat_df['airline_name'].isin(existing_top_airlines_seat)].copy()
print("\nSeat dataset:")
print(seat_df_top_20.info())

Flight dataset:
<class 'pandas.core.frame.DataFrame'>
Index: 10830 entries, 1528 to 41180
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   airline_name                   10830 non-null  object
 1   link                           10830 non-null  object
 2   title                          10830 non-null  object
 3   author                         10830 non-null  object
 4   author_country                 10724 non-null  object
 5   date                           10830 non-null  object
 6   content                        10830 non-null  object
 7   aircraft                       582 non-null    object
 8   type_traveller                 920 non-null    object
 9   cabin_flown                    10690 non-null  object
 10  route                          910 non-null    object
 11  overall_rating                 10421 non-null  float64
 12  seat_comfort_rating            10609 non-null  float64
 13  cabin_staff_rating             10610 non-null  float64
 14  food_beverages_rating          10543 non-null  float64
 15  inflight_entertainment_rating  10425 non-null  float64
 16  ground_service_rating          858 non-null    float64
 17  wifi_connectivity_rating       278 non-null    float64
 18  value_money_rating             10741 non-null  float64
 19  recommended                    10830 non-null  int64
dtypes: float64(8), int64(1), object(11)
memory usage: 1.7+ MB
None

Lounge dataset:
<class 'pandas.core.frame.DataFrame'>
Index: 1526 entries, 48 to 2263
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   airline_name              1526 non-null   object
 1   link                      1526 non-null   object
 2   title                     1526 non-null   object
 3   author                    1526 non-null   object
 4   author_country            1227 non-null   object
 5   date                      1526 non-null   object
 6   content                   1526 non-null   object
 7   lounge_name               1524 non-null   object
 8   airport                   1469 non-null   object
 9   lounge_type               1303 non-null   object
 10  date_visit                63 non-null     object
 11  type_traveller            72 non-null     object
 12  overall_rating            1522 non-null   float64
 13  comfort_rating            1526 non-null   int64
 14  cleanliness_rating        1526 non-null   int64
 15  bar_beverages_rating      1522 non-null   float64
 16  catering_rating           1524 non-null   float64
 17  washrooms_rating          1511 non-null   float64
 18  wifi_connectivity_rating  1519 non-null   float64
 19  staff_service_rating      1519 non-null   float64
 20  recommended               1526 non-null   int64
dtypes: float64(6), int64(3), object(12)
memory usage: 262.3+ KB
None

Seat dataset:
<class 'pandas.core.frame.DataFrame'>
Index: 863 entries, 18 to 1257
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   airline_name         863 non-null    object
 1   link                 863 non-null    object
 2   title                863 non-null    object
 3   author               863 non-null    object
 4   author_country       861 non-null    object
 5   date                 863 non-null    object
 6   content              863 non-null    object
 7   aircraft             863 non-null    object
 8   seat_layout          859 non-null    object
 9   date_flown           59 non-null     object
 10  cabin_flown          863 non-null    object
 11  type_traveller       62 non-null     object
 12  overall_rating       863 non-null    float64
 13  seat_legroom_rating  863 non-null    int64
 14  seat_recline_rating  863 non-null    int64
 15  seat_width_rating    863 non-null    int64
 16  aisle_space_rating   863 non-null    int64
 17  viewing_tv_rating    856 non-null    float64
 18  power_supply_rating  38 non-null     float64
 19  seat_storage_rating  59 non-null     float64
 20  recommended          863 non-null    int64
dtypes: float64(4), int64(5), object(12)
memory usage: 148.3+ KB
None

### Izdvojićemo samo one atribute koji će biti korišćeni u analizi i koji imaju najmanji broj nedostajućih vrednosti, s obzirom na to da dataset sadrži značajan broj praznih polja.

In [22]:
flight_columns = [
    "airline_name", "content", "cabin_flown", "overall_rating",
    "seat_comfort_rating", "cabin_staff_rating", "food_beverages_rating",
    "value_money_rating", "recommended"
]

airline_df_top_20 = airline_df_top_20[flight_columns]
#airline_df_filtered.to_csv("flight_reviews_top_airlines.csv", index=False, encoding="utf-8")

lounge_columns = [
    "airline_name", "content", "airport", "overall_rating",
    "comfort_rating", "cleanliness_rating", "bar_beverages_rating",
    "catering_rating", "washrooms_rating", "wifi_connectivity_rating",
    "staff_service_rating", "recommended"
]

lounge_df_top_20 = lounge_df_top_20[lounge_columns]
#lounge_df_filtered.to_csv("lounge_reviews_top_airlines.csv", index=False, encoding="utf-8")

seat_columns = [
    "airline_name", "content", "overall_rating", "aircraft",
    "seat_legroom_rating", "seat_recline_rating", "seat_width_rating",
    "aisle_space_rating", "viewing_tv_rating", "recommended"
]

seat_df_top_20 = seat_df_top_20[seat_columns]
#seat_df_filtered.to_csv("seat_reviews_top_airlines.csv", index=False, encoding="utf-8")

### Takođe, može se primetiti da su skale rating-a drugačije, na šta će se obratiti pažnja tokom dalje analize i korišćenih pristupa

In [23]:
# Lista kolona koje želimo da proverimo
columns_to_check = [
    'overall_rating',
    'value_money_rating',
    'seat_comfort_rating',
    'cabin_staff_rating',
    'food_beverages_rating'
]

# Provera min i max vrednosti po kolonama
for col in columns_to_check:
    min_val = airline_df_top_20[col].min()
    max_val = airline_df_top_20[col].max()
    print(f"{col}: min = {min_val}, max = {max_val}")

overall_rating: min = 1.0, max = 10.0
value_money_rating: min = 0.0, max = 5.0
seat_comfort_rating: min = 0.0, max = 5.0
cabin_staff_rating: min = 0.0, max = 5.0
food_beverages_rating: min = 0.0, max = 5.0

In [24]:

columns_to_check = [
    'overall_rating',
    'comfort_rating',
    'cleanliness_rating',
    'bar_beverages_rating',
    'catering_rating',
    'washrooms_rating',
    'wifi_connectivity_rating',
    'staff_service_rating'
]


for col in columns_to_check:
    min_val = lounge_df_top_20[col].min()
    max_val = lounge_df_top_20[col].max()
    print(f"{col}: min = {min_val}, max = {max_val}")

overall_rating: min = 1.0, max = 10.0
comfort_rating: min = 0, max = 5
cleanliness_rating: min = 0, max = 5
bar_beverages_rating: min = 0.0, max = 5.0
catering_rating: min = 0.0, max = 5.0
washrooms_rating: min = 0.0, max = 5.0
wifi_connectivity_rating: min = 0.0, max = 5.0
staff_service_rating: min = 0.0, max = 5.0

In [25]:

columns_to_check = [
    'overall_rating',
    'seat_legroom_rating',
    'seat_recline_rating',
    'seat_width_rating',
    'aisle_space_rating',
    'viewing_tv_rating'
]


for col in columns_to_check:
    min_val = seat_df_top_20[col].min()
    max_val = seat_df_top_20[col].max()
    print(f"{col}: min = {min_val}, max = {max_val}")

overall_rating: min = 1.0, max = 10.0
seat_legroom_rating: min = 1, max = 5
seat_recline_rating: min = 1, max = 5
seat_width_rating: min = 1, max = 5
aisle_space_rating: min = 1, max = 5
viewing_tv_rating: min = 0.0, max = 5.0

### Analiza prosečne dužine recenzija, uključujući 25., 50. i 75. percentil, kao i minimalnu i maksimalnu dužinu

In [26]:
lengths = airline_df_top_20['content'].astype(str).str.len()
#token_counts = airline_df_top_20['content'].astype(str).str.split().apply(len)

print("Analiza dužine recenzija (broj karaktera):")
print(f"Prosečna dužina: {lengths.mean():.2f}")
print(f"25. percentil: {lengths.quantile(0.25):.0f}")
print(f"50. percentil: {lengths.quantile(0.50):.0f}")
print(f"75. percentil: {lengths.quantile(0.75):.0f}")
print(f"Minimalna dužina: {lengths.min()}")
print(f"Maksimalna dužina: {lengths.max()}")

#DODAJ!!!
# # Broj tokena (reči) po recenziji
# token_counts = airline_df['content'].astype(str).str.split().apply(len)

# print("Analiza dužine recenzija (broj tokena/reči):")
# print(f"Prosečan broj tokena: {token_counts.mean():.2f}")
# print(f"25. percentil: {token_counts.quantile(0.25):.0f}")
# print(f"50. percentil (medijana): {token_counts.quantile(0.50):.0f}")
# print(f"75. percentil: {token_counts.quantile(0.75):.0f}")
# print(f"Minimalan broj tokena: {token_counts.min()}")
# print(f"Maksimalan broj tokena: {token_counts.max()}")

Analiza dužine recenzija (broj karaktera):
Prosečna dužina: 725.01
25. percentil: 414
50. percentil (medijana): 623
75. percentil: 911
Minimalna dužina: 94
Maksimalna dužina: 3519

In [27]:
lengths = lounge_df_top_20['content'].astype(str).str.len()

print("Analiza dužine recenzija (broj karaktera):")
print(f"Prosečna dužina: {lengths.mean():.2f}")
print(f"25. percentil: {lengths.quantile(0.25):.0f}")
print(f"50. percentil (medijana): {lengths.quantile(0.50):.0f}")
print(f"75. percentil: {lengths.quantile(0.75):.0f}")
print(f"Minimalna dužina: {lengths.min()}")
print(f"Maksimalna dužina: {lengths.max()}")

Analiza dužine recenzija (broj karaktera):
Prosečna dužina: 471.22
25. percentil: 273
50. percentil (medijana): 403
75. percentil: 606
Minimalna dužina: 33
Maksimalna dužina: 2080

In [28]:
lengths = seat_df_top_20['content'].astype(str).str.len()

print("Analiza dužine recenzija (broj karaktera):")
print(f"Prosečna dužina: {lengths.mean():.2f}")
print(f"25. percentil: {lengths.quantile(0.25):.0f}")
print(f"50. percentil (medijana): {lengths.quantile(0.50):.0f}")
print(f"75. percentil: {lengths.quantile(0.75):.0f}")
print(f"Minimalna dužina: {lengths.min()}")
print(f"Maksimalna dužina: {lengths.max()}")

Analiza dužine recenzija (broj karaktera):
Prosečna dužina: 454.41
25. percentil: 238
50. percentil (medijana): 365
75. percentil: 570
Minimalna dužina: 45
Maksimalna dužina: 3141

### Nazive avio-kompanija izmenićemo tako da budu bez crtica i sa velikim početnim slovima.

In [49]:
# Svi jedinstveni nazivi iz sva tri dataset-a
all_airlines = set(airline_df_top_20['airline_name'].unique()) \
             | set(lounge_df_top_20['airline_name'].unique()) \
             | set(seat_df_top_20['airline_name'].unique())

# Pretvaranje u sortiranu listu 
all_airlines_sorted = sorted(all_airlines)

print("Sve aviokompanije u top 20 dataset-ima (bez dupliranja):")
print(all_airlines_sorted)

Sve aviokompanije u top 20 dataset-ima (bez dupliranja):
['air-canada', 'air-france', 'american-airlines', 'british-airways', 'cathay-pacific-airways', 'delta-air-lines', 'emirates', 'etihad-airways', 'jet-airways', 'klm-royal-dutch-airlines', 'lufthansa', 'malaysia-airlines', 'qantas-airways', 'qatar-airways', 'singapore-airlines', 'thai-airways', 'turkish-airlines', 'united-airlines', 'us-airways', 'virgin-atlantic-airways']

In [50]:
def format_airline_name(df):
    df['airline_name'] = (
        df['airline_name']
        .str.replace('-', ' ', regex=False)
        .str.title()
    )
    return df

airline_df_top_20 = format_airline_name(airline_df_top_20)
lounge_df_top_20 = format_airline_name(lounge_df_top_20)
seat_df_top_20 = format_airline_name(seat_df_top_20)

### Pretvorićemo vrednosti 1 i 0 u yes i no radi preglednosti i buduće analize

In [51]:
airline_df_top_20['recommended'] = airline_df_top_20['recommended'].map({1: 'yes', 0: 'no'})
lounge_df_top_20['recommended'] = lounge_df_top_20['recommended'].map({1: 'yes', 0: 'no'})
seat_df_top_20['recommended'] = seat_df_top_20['recommended'].map({1: 'yes', 0: 'no'})

### Nedostajući podaci biće dopunjeni na sledeći način: numerički podaci će se zameniti srednjom vrednošću, dok će atributi tipa object dobiti vrednost unknown.

In [52]:
def clean_top20_df(df, numeric_cols=None, obj_cols=None):

    df_clean = df.copy()

    # automatsko detektovanje numeričkih kolona
    if numeric_cols is None:
        numeric_cols = df_clean.select_dtypes(include=['float64','int64']).columns
    
    # automatsko detektovanje object kolona
    if obj_cols is None:
        obj_cols = df_clean.select_dtypes(include=['object']).columns
    
    # popunjavanje numeričkih kolona
    df_clean[numeric_cols] = df_clean[numeric_cols].fillna(df_clean[numeric_cols].mean()).round(1)
    
    # popunjavanje kolona tipa object 
    for col in obj_cols:
        df_clean[col] = df_clean[col].fillna("Unknown")
    
    return df_clean

airline_top20_df_filtered = clean_top20_df(airline_df_top_20)
lounge_top20_df_filtered = clean_top20_df(lounge_df_top_20)
seat_top20_df_filtered = clean_top20_df(seat_df_top_20)

print("Flight dataset (top 20) info:")
print(airline_top20_df_filtered.info())

print("\nLounge dataset (top 20) info:")
print(lounge_top20_df_filtered.info())

print("\nSeat dataset (top 20) info:")
print(seat_top20_df_filtered.info())

Flight dataset (top 20) info:
<class 'pandas.core.frame.DataFrame'>
Index: 10830 entries, 1528 to 41180
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   airline_name           10830 non-null  object
 1   content                10830 non-null  object
 2   cabin_flown            10830 non-null  object
 3   overall_rating         10830 non-null  float64
 4   seat_comfort_rating    10830 non-null  float64
 5   cabin_staff_rating     10830 non-null  float64
 6   food_beverages_rating  10830 non-null  float64
 7   value_money_rating     10830 non-null  float64
 8   recommended            10830 non-null  object
dtypes: float64(5), object(4)
memory usage: 846.1+ KB
None

Lounge dataset (top 20) info:
<class 'pandas.core.frame.DataFrame'>
Index: 1526 entries, 48 to 2263
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   airline_name              1526 non-null   object
 1   content                   1526 non-null   object
 2   airport                   1526 non-null   object
 3   overall_rating            1526 non-null   float64
 4   comfort_rating            1526 non-null   int64
 5   cleanliness_rating        1526 non-null   int64
 6   bar_beverages_rating      1526 non-null   float64
 7   catering_rating           1526 non-null   float64
 8   washrooms_rating          1526 non-null   float64
 9   wifi_connectivity_rating  1526 non-null   float64
 10  staff_service_rating      1526 non-null   float64
 11  recommended               1526 non-null   object
dtypes: float64(6), int64(2), object(4)
memory usage: 155.0+ KB
None

Seat dataset (top 20) info:
<class 'pandas.core.frame.DataFrame'>
Index: 863 entries, 18 to 1257
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   airline_name         863 non-null    object
 1   content              863 non-null    object
 2   overall_rating       863 non-null    float64
 3   aircraft             863 non-null    object
 4   seat_legroom_rating  863 non-null    int64
 5   seat_recline_rating  863 non-null    int64
 6   seat_width_rating    863 non-null    int64
 7   aisle_space_rating   863 non-null    int64
 8   viewing_tv_rating    863 non-null    float64
 9   recommended          863 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 74.2+ KB
None

### Čuvanje podataka u novim fajlovima koji će se koristiti za dalji rad

In [53]:
airline_top20_df_filtered.to_csv("airline_top20_df_filtered.csv", index=False, encoding="utf-8")
lounge_top20_df_filtered.to_csv("lounge_top20_df_filtered.csv", index=False, encoding="utf-8")
seat_top20_df_filtered.to_csv("seat_top20_df_filtered.csv", index=False, encoding="utf-8")